language:
  ruby

rvm:
  - '1.9'
  - '2.0'
  - '2.1'
  - '2.2'
  - ruby-head

matrix:
  allow_failures:
    - rvm: ruby-head

  fast_finish:
    true

script:
  gem install bundler
  bundle install
  rspec